snippet desc "open a jasmine describe statement"
describe('$1', function() {
  $0
});
endsnippet

snippet it "open a jasmine it statement"
it('$1', function() {
  $0
});
endsnippet

snippet f "opens an anonmous function"
function() {
  $0
}
endsnippet
